:root {
  --black: #111;
  --white: #ffffff;
  --background: #191d88;
  --light-background: #333a73;
  --orange-: #fba834;
  --primary-blue: #387adf;
  --light-blue: #50c4ed;
  --brown: #331f07;
  --light-brown: #82601f;
  --gradiant-blue: linear-gradient(#397edf, #4ec0eb);
  --gradiant-orange: linear-gradient(#f8cb8d, #f6a432, #ff9b10, #ce7902);
  --gradiant-darkBlue: linear-gradient(#191d88, #060722, #090a2d, #191d88);
  --gradient-regular-pack:linear-gradient(#1E4787,#070A33);
  --gradient-free-pack:linear-gradient(#331F07,#9F7118);
  --gradient-pro-pack:linear-gradient(#72A6F6,#1C488C);
}
body {
  background-color: var(--background);
  margin: 0 auto;
  padding: 0px;
  overflow-x: hidden;
}
/*style header*/
.links {
  margin-top: 1rem;
}
.links a {
  color: var(--white);
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.button_nav {
  margin-top: 1rem;
}

.button_nav button {
  width: 251px;
  height: 52px;
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: var(--white);
  border: 0px;
  position: relative;
  bottom: 15px;
}

button {
  background-image: linear-gradient(#397edf, #4ec0eb);
}

.container {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.links a {
  text-decoration: none;
}
.menu div,
.menu2 div {
  width: 70px;
  height: 60px;
  margin: 40px;
  position: relative;
}
.menu span,
.menu2 span {
  background-color: var(--black);
  width: 100%;
  height: 0.5rem;
  border-radius: 5px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s;
}
.burger-icon span {
  display: block;
  width: 60px;
  height: 7px;
  background-image: var(--gradiant-blue);
  border-radius: 5px;
  position: relative;
  margin: 8px 8px;
}
/*----style section hero---*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding:40px;*/
  padding-top: 20px;
}
.container2 {
  width: 90%;
  height: 850px;
  border-radius: 41px;
  background-image: var(--gradiant-orange);
  position: relative;
}
/*heading in main*/
.container2 h1 {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.container2 #span_h1 {
  font-size: 1.3rem;
}
/*paragraph in main*/
.container2 p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 6rem;
}

.container2 img {
  width: 75%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
/*styling about section*/
.container3 {
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}
.container3 h1 {
  font-size: 2rem;
  position: relative;
  top: 30px;
}
.container3 p {
  font-size: 1rem;
  width: 70%;
  text-align: center;
  padding-top: 30px;
}

.container3 img {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 0px;
}
.border_style {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to bottom right, #387adf, #50c4ed, #9bdaf0) 1;
}
.img_value {
  width: 500px;
  height: 600px;
}
.text {
  width: 400px;
}
/* section partenaire */
.box-1 {
  width: 280px;
  height: 189px;
}
.box-1 img {
  width: 290px;
  height: 182px;
}
.BOX {
  /* w-391 h-483 */
  width: 391px;
  height: 420px;
}
/*background image for footer section*/
.backg_img {
  background-image: url(img/before\ footer.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*background color pricing section*/
.backg_table {
  background-image:var(--gradiant-darkBlue);
}

.bg_pack_pro{
  background-image:var(--gradient-pro-pack);
}
.bg_pack_regular{
  background-image:var(--gradient-regular-pack);
}
.bg_pack_free{
background-image: var(--gradient-free-pack);
} 
.container-tech {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0 10px;
  gap: 10px;
}

/* fin media desktop */
.cc {
  width: 33.3%;
  height: 300px;
}
.cc p {
  font-size: 13px;
  padding-bottom: 5px;
}
/*------------------------------------*/
/*----------Desktop ------------------*/
/*------------------------------------*/
@media only screen and (min-width: 1025px) {
  .burger-icon span {
    display: none;
  }
  .val {
    padding-bottom: 0px;
  }
}

/* -----Tablet--------- */
@media only screen and (max-width: 769px){
  .burger-icon span {
    display: block;
  }
  .links {
    display: none;
  }
  .img_value {
    width: 450px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .val {
    padding-bottom: 10px;
  }
  .box-ptr {
    flex-wrap: wrap;
    display: flex;
  }
  .box-1 {
    width: 270px;
    height: 170px;
  }
  .container-tech {
    flex-wrap: wrap;
  }
  .BOX {
    width: 380px;
    height: 400px;
  }
  .featuress{
    display: none;
  }
  }


/* ------Mobile--------- */
@media only screen and (min-width: 362px) and (max-width: 767px) {
  .burger-icon span {
    display: block;
  }
   .three_pack{
    display: block;
   } 
  .links {
    display: none;
  }
  .container2 {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  .About {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .About,
  .About .container3 {
    /* padding-left: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .container3 h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .container3 p {
    font-size: 0.7rem;
  }
  .container3 img {
    width: 420px;
  }
  .img_value {
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 26px;
  }
  .firstTwoValues,
  .secondTwoValues {
    display: inline-block;
  }
  .c1 {
    flex-wrap: wrap;
  }
  .cc h3 {
    font-size: 16px;
  }
  .cc p {
    font-size: 55%;
  }
  .cc {
    width: 45%;
    height: 300px;
  }
  .cc img {
    width: 150px;
    height: 70px;
  }
  .box-ptr {
    flex-wrap: wrap;
    display: flex;
  }
  .box-1 {
    width: 160px;
    height: 89px;
  }
  .box-1 img {
    padding-bottom: 90px;
  }
  .BOX {
    flex-wrap: wrap;
    width: 90%;
  }
  .BOX p {
    font-size: 16px;
  }
  .hero {
    margin-top: 10px;
  }
}
